class Deeplink < Formula
  desc "Open and test deeplinks on Android devices and iOS simulators"
  homepage "https://github.com/FelipeKoga/deeplink-launcher/blob/main/docs/CLI.md"
  url "https://github.com/FelipeKoga/deeplink-launcher/releases/download/cli-v{{VERSION}}/deeplink-{{VERSION}}.tar.gz"
  sha256 "{{SHA256}}"
  license "Apache-2.0"

  depends_on "openjdk"

  def install
    libexec.install Dir["*"]
    (bin/"deeplink").write_env_script libexec/"bin/deeplink", Language::Java.overridable_java_home_env
  end

  test do
    assert_match "scheme", shell_output("#{bin}/deeplink parse myapp://product/42")
    assert_match "{{VERSION}}", shell_output("#{bin}/deeplink --version")
  end
end
